<object width="200 height=60" classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
        codebase="http://java.sun.com/products/plugin/autodl/jinstall-1_4-windows-i586.cab#Version=1,4,0,0">
    <param name="code" value="_1_"/>
    <!--[if !IE]> -->
    <object width="200 height=60" type="application/x-java-applet">
        <param name="code" value="_1_"/>
    </object>
    <!-- <![endif]-->
</object>